* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font: 24px arial, sans-serif;
  text-align: center;
}

.container {
  overflow: hidden;
}

.sidebar {
  height: 300px;
  background: PeachPuff;
  padding: 20px;
}

.content {
  height: 300px;
  background: MediumAquamarine;
  padding: 20px;
}

@media (min-width: 40em) {
  .sidebar {
    float: left;
    width: 25%;
  }
  .content {
    float: left;
    width: 75%;
  }
}

.p {
  font-size: 13px;
  padding-top: 120px;
}